name: Workspace Package Labeler
on:
    pull_request_target:
        types: [opened, edited, synchronize]

jobs:
    label:
        name: Label Package Pull Requests
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
        steps:
            - name: 'Checkout code'
              uses: actions/checkout@v5.0.1
            - name: Label the PR
              uses: donmahallem/lerna-label@v1.2.2
              with:
                  github_secret: '${{ secrets.GITHUB_TOKEN }}'
                  prefix: 'pkg'
            - name: Label PRs
              uses: actions/labeler@v6
              with:
                  repo-token: '${{ secrets.GITHUB_TOKEN }}'
